



<%= form_with model: @link, local: true, data: { turbo: false } do |form| %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


